<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">Select Another Doctor</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <a class="navbar-brand" href="/graph">Visualize LDA</a>
            <a class="navbar-brand" href="/about">About Me</a>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <br>

    <div class="container">
    <div class="starter-template" style="padding-top: 60px;">
        <table><tr>
          <th><img src= "static/img/Yelp_Logo.png" class="img-responsive" alt="" 
            height="204px" width="99px"></th>
          <th style="padding-left: 20px;">
          <h2>{{local_id}}:  What's the Scoop?</h2></th>
        </tr>
      </table>
      <p class="lead"><br>Using Topic Analysis to Capture Patient Preferences & Opinions obout local Orthopedidic Surgeons.</p>

    </div>

    </div> <!-- /.container-->
    
    <div class="container">
      <div class="row">
        <table>
          <th style="padding-left: 15px;"><img src= {{ yelpimg|safe }} class="img-responsive" alt="" height="250" width="200"></th>

          <th style="padding-left: 15px;"><div id="starplot" style="min-width: 400px; max-width: 800px; height: 250px; margin: 0 auto" alt=200px; 150px ></div></th>
          <th style="padding-left: 10px;"></th>

          <th style="padding-top: 70px;"><table class="table table-hover">
              <tr><h3>Main Topic: {{ keytopic|safe }}</h3><tr>
              <tr><h4>Overall Star Average:  {{ bstars }}</h4><tr>
              <tr><h4></h4></tr>
              <tr><h4>Topic Highlight:</h4></tr>
              <tr><p>{{ insight|safe }}</p</tr>
              <tr><h4 style="padding-top: 150px"></h4></tr>
          </table></th>
        </table>
      </div>
    </div><!-- /.container -->

    <div class="container" style="padding-top: 20px;">
      <h4>Representative Reviews by Topic.  A Tool for investigating the validity of the model. </h4>
      <h5>Note:  'Representative' is defined as the reviews with the highest score on a given topic).</h4>
        <br></br>
    </div>
    <div class="container">
      <div class="row">
          <table class= "table table-hover">
            <tr><th style="padding-top: 10px;">Representative Review #1:</th></tr>
            <tr><th>{{ myReview|safe }}</th></tr>
          </table>
      </div>
    </div>
    <div class="container">
      <div class="row">
          <table>
            <tr><th style="padding-top: 50px;"></th></tr>
            <tr><th></th></tr>
            </tr>
          </table>
      </div>
    </div>
      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

      <script src="static/js/bootstrap.min.js"></script>

    <div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <script language="javascript">
    $(document).ready(function () {
    $('#starplot').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Stars over top 40 reviews'
        },
        subtitle: {
            text: 'Source: Yelp'
        },
        xAxis: {
            categories: ['5 Stars', '4 Stars', '3 Stars', '2 Stars', '1 Star'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Frequency (count)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' reviews'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'bottom',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: '',
            data: {{ star_count|tojson|safe }}
        }]
    });
  });
  </script>

  </body>
</html>
